# Load Required Libraries
We start by importing the necessary libraries: `pandas` for data manipulation and `uuid` for generating unique identifiers for articles.

In [1]:
import pandas as pd
import uuid

# Load Excel Files
We define a function `load_excel_file` to load Excel files.  
It ensures that each Excel file contains exactly one sheet.  
If multiple sheets exist, it raises an exception to avoid ambiguity.

In [2]:
def load_excel_file(data_path: str) -> pd.DataFrame:
    # TODO: handle excle file with multiple sheets
    data = pd.ExcelFile(data_path)
    # check for sheet
    if len(data.sheet_names) == 1:
        return data.parse(data.sheet_names[0])
    else:
        raise Exception("Excel file should have exactly one sheet!")

In [3]:
supplier_1 = load_excel_file("../resources/task_1/supplier_data1.xlsx")
supplier_2 = load_excel_file("../resources/task_1/supplier_data2.xlsx")

# Initial Exploration of Supplier Data
We examine the first few rows, shape, info, and basic statistics of both datasets.  
We also check for missing values and duplicate rows to understand data quality.

In [4]:
# Look at 5 first rows
supplier_1.head()

,Quality/Choice,Grade,Finish,Thickness (mm),Width (mm),Description,Gross weight (kg),RP02,RM,Quantity,AG,AI
0,3rd,C200S,gebeizt und geglüht,2.77,1100,Längs- oder Querisse,13983,333.6,606.2,0.00,16.11,0.0054
1,3rd,C300S,ungebeizt,2.65,1075,Längs- oder Querisse,13047,717.7,0.0,0.00,16.11,0.0046
2,3rd,C100S,gebeizt und geglüht,2.20,1100,Kantenfehler - FS-Kantenrisse,14155,368.9,0.0,10.84,0.00,0.0061
3,2nd,C100S,gebeizt,2.86,1100,Längs- oder Querisse,11381,368.9,601.7,22.87,0.00,0.0062
4,1st,C300S,ungebeizt,2.88,1050,Sollmasse (Gewicht) unterschritten,10072,0.0,1213.0,22.87,0.00,0.0041

In [5]:
supplier_1.shape

(50, 12)

In [6]:
supplier_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Quality/Choice     50 non-null     object
 1   Grade              50 non-null     object
 2   Finish             50 non-null     object
 3   Thickness (mm)     50 non-null     float64
 4   Width (mm)         50 non-null     int64
 5   Description        50 non-null     object
 6   Gross weight (kg)  50 non-null     int64
 7   RP02               50 non-null     float64
 8   RM                 50 non-null     float64
 9   Quantity           50 non-null     float64
 10  AG                 50 non-null     float64
 11  AI                 50 non-null     float64
dtypes: float64(6), int64(2), object(4)
memory usage: 4.8+ KB

In [7]:
supplier_1.describe()

,Thickness (mm),Width (mm),Gross weight (kg),RP02,RM,Quantity,AG,AI
count,50.000000,50.000000,50.000000,50.00000,50.000000,50.000000,50.000000,50.000000
mean,2.508800,1075.000000,10227.840000,336.39200,653.682000,13.536200,9.706120,0.005500
std,0.273112,48.968961,2900.401516,245.12073,403.594141,10.380396,7.080155,0.000886
min,2.010000,1000.000000,5011.000000,0.00000,0.000000,0.000000,0.000000,0.004100
25%,2.292500,1050.000000,8065.500000,83.40000,601.700000,0.000000,0.000000,0.004725
50%,2.510000,1075.000000,10167.000000,368.90000,606.200000,10.840000,15.050000,0.005450
75%,2.750000,1100.000000,12844.000000,368.90000,1061.300000,22.870000,16.110000,0.006200
max,2.980000,1150.000000,14839.000000,717.70000,1213.000000,25.460000,16.110000,0.007000

In [8]:
# Look for missing values -> 0
supplier_1.isna().sum()

Quality/Choice       0
Grade                0
Finish               0
Thickness (mm)       0
Width (mm)           0
Description          0
Gross weight (kg)    0
RP02                 0
RM                   0
Quantity             0
AG                   0
AI                   0
dtype: int64

In [9]:
# Look for duplicated rows -> 0
supplier_1.duplicated().sum()

np.int64(0)

In [10]:
# Look at 5 first rows
supplier_2.head()

,Material,Description,Article ID,Weight (kg),Quantity,Reserved
0,HDC,Material is Oiled,23048203,24469,52,NOT RESERVED
1,S235JR,Material is Oiled,23040547,16984,41,NOT RESERVED
2,S235JR,Material is Painted,23046057,9162,28,NOT RESERVED
3,DX51D +AZ150,Material is Oiled,23041966,12119,66,VANILLA
4,HDC,Material is Painted,23043884,17260,26,NOT RESERVED

In [11]:
supplier_2.shape

(50, 6)

In [12]:
supplier_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Material     50 non-null     object
 1   Description  50 non-null     object
 2   Article ID   50 non-null     int64
 3   Weight (kg)  50 non-null     int64
 4   Quantity     50 non-null     int64
 5   Reserved     50 non-null     object
dtypes: int64(3), object(3)
memory usage: 2.5+ KB

In [13]:
supplier_2.describe()

         Article ID   Weight (kg)   Quantity
count  5.000000e+01     50.000000  50.000000
mean   2.304538e+07  16307.520000  57.920000
std    2.876349e+03   5669.798014  25.197052
min    2.304027e+07   5302.000000  10.000000
25%    2.304345e+07  11367.750000  33.250000
50%    2.304551e+07  16660.000000  62.000000
75%    2.304778e+07  21278.000000  74.500000
max    2.304991e+07  24951.000000  98.000000

In [14]:
# Look for missing values -> 0
supplier_2.isna().sum()

Material       0
Description    0
Article ID     0
Weight (kg)    0
Quantity       0
Reserved       0
dtype: int64

In [15]:
# Look for duplicated rows -> 0
supplier_2.duplicated().sum()

np.int64(0)

# Preprocessing Supplier 1

## Normalize Column Names
We create a function `clean_column` to normalize and clean column names:  
- convert to lowercase  
- replace spaces and special characters with underscores  
- remove redundant underscores

In [16]:
def clean_column(name: str) -> str:
    # Lowercase
    name = name.lower()
    # Replace common separators with underscore
    for ch in [" ", "/", "(", ")", "-", ".", "+"]:
        name = name.replace(ch, "_")
    # Remove double underscores
    while "__" in name:
        name = name.replace("__", "_")
    # Strip underscores at ends
    name = name.strip("_")
    return name

In [17]:
supplier_1.columns = [clean_column(c) for c in supplier_1.columns]

## Standardize Description Column
We translate German descriptions to English and ensure consistent uppercase format for categories.

In [18]:
supplier_1['description'].unique()

array(['Längs- oder Querisse', 'Kantenfehler - FS-Kantenrisse',
       'Sollmasse (Gewicht) unterschritten'], dtype=object)

In [19]:
# Translate to English with uppercase
# TODO: we can also use automatic translation
description_mapping_1 = {
    'Längs- oder Querisse': 'CRACKS',
    'Kantenfehler - FS-Kantenrisse': 'EDGE CRACKS',
    'Sollmasse (Gewicht) unterschritten': 'UNDERWEIGHT'
}

supplier_1['description'] = supplier_1['description'].apply(lambda x : description_mapping_1.get(x, x))

## Standardize Finish Column
Translate finish-related values to English and uppercase to maintain consistency.

In [20]:
supplier_1["finish"].unique()

array(['gebeizt und geglüht', 'ungebeizt', 'gebeizt'], dtype=object)

In [21]:
# Translate to English with uppercase
# TODO: we can also use automatic translation
finish_mapping_1 = {
    'gebeizt und geglüht' : 'PICKLED & ANNEALED', # 'PICKLED, ANNEALED'
    'ungebeizt' : 'UNPICKLED',
    'gebeizt' : 'PICKLED'    
}
supplier_1["finish"] = supplier_1["finish"].apply(lambda x : finish_mapping_1.get(x, x))

## Standardize Quality Column
Convert quality choices to uppercase strings for consistency.

In [22]:
supplier_1["quality_choice"].unique()

array(['3rd', '2nd', '1st'], dtype=object)

In [23]:
# Uppercase for consistency with other categorical columns
# Leave that as string in case of other possible values for quality (e.g., good, bad)
supplier_1["quality_choice"] = supplier_1["quality_choice"].str.upper()

# Preprocessing Supplier 2
Normalize columns and map descriptions (which seem to correspond to finish).

In [24]:
supplier_2.columns = [clean_column(c) for c in supplier_2.columns]

## Description

In [25]:
# Descripion looks like finish feature based on the values
# Possible improvement: extract different features (e.g., finish, coating) from description column
description_mapping_2 = {
    'Material is Oiled' : 'OILED',
    'Material is Painted' : 'PAINTED',
    'Material is not Oiled' : 'NOT PAINTED'   
}
supplier_2["description"] = supplier_2["description"].apply(lambda x : description_mapping_2.get(x, x))

# Merge Supplier Datasets
We rename columns for consistency, add a `source` column to identify suppliers, and generate unique article IDs for Supplier 1.

In [26]:
# Rename for consistency
supplier_1.rename(columns={"grade": "grade_material", "gross_weight_kg": "weight_kg", }, inplace=True) 
supplier_2.rename(columns={"material": "grade_material", "description": "finish"}, inplace=True)

In [27]:
# Indicate supplier in a new column
supplier_1[["source"]] = "SUPPLIER_1"
supplier_2[["source"]] = "SUPPLIER_2"

In [28]:
# Add article id to supplier 1
def generate_uuid() -> str:
    return str(uuid.uuid4())

In [29]:
supplier_1["article_id"] = supplier_1.apply(lambda _: generate_uuid(), axis=1)

# Remove Unwanted Columns
We remove unnecessary columns from Supplier 1 before merging.

In [30]:
# Select columns based on instruction -> remove: rp02, rm, ag, ai
unwanted_columns_1 = ["rp02", "rm", "ag", "ai"]
supplier_1 = supplier_1.drop(columns=unwanted_columns_1)

# Combine Datasets
Merge both suppliers into a single `inventory_dataset`.

In [31]:
inventory_dataset = pd.concat([supplier_1, supplier_2], ignore_index=True)

In [32]:
inventory_dataset.head()

,quality_choice,grade_material,finish,thickness_mm,width_mm,description,weight_kg,quantity,source,article_id,reserved
0,3RD,C200S,PICKLED & ANNEALED,2.77,1100.0,CRACKS,13983,0.00,SUPPLIER_1,9c137a31-b899-4072-9953-074dea81c821,NaN
1,3RD,C300S,UNPICKLED,2.65,1075.0,CRACKS,13047,0.00,SUPPLIER_1,bcdba26f-668c-427b-8c54-211ef5b38539,NaN
2,3RD,C100S,PICKLED & ANNEALED,2.20,1100.0,EDGE CRACKS,14155,10.84,SUPPLIER_1,7fc27848-a97d-4aa0-838b-154400b0f89c,NaN
3,2ND,C100S,PICKLED,2.86,1100.0,CRACKS,11381,22.87,SUPPLIER_1,6db35a46-78fc-4fe1-b0ae-ce341290e593,NaN
4,1ST,C300S,UNPICKLED,2.88,1050.0,UNDERWEIGHT,10072,22.87,SUPPLIER_1,35682277-45d9-475a-ad30-45885d6b38c2,NaN

# Handle Missing Values
- Categorical columns (`quality_choice`, `reserved`) are filled with `"UNKNOWN"`  
- Numerical columns could be filled with mean if needed for ML purposes

In [33]:
# In case to use this data with machine learning model we need to handle missing values.
# If we want to use this for analysis, it's not necessary to fill missing values.
inventory_dataset.isna().sum()

quality_choice    50
grade_material     0
finish             0
thickness_mm      50
width_mm          50
description       50
weight_kg          0
quantity           0
source             0
article_id         0
reserved          50
dtype: int64

In [34]:
# Categorical feature
inventory_dataset[["quality_choice", "reserved"]] = inventory_dataset[["quality_choice", "reserved"]].fillna("UNKNOWN")

In [35]:
# Numerical feature
# Optional for machine learning purpose
# inventory_dataset[["thickness_mm", "width_mm"]].fillna(inventory_dataset[["thickness_mm", "width_mm"]].mean())

In [36]:
inventory_dataset.tail()

,quality_choice,grade_material,finish,thickness_mm,width_mm,description,weight_kg,quantity,source,article_id,reserved
95,UNKNOWN,DX51D +Z140,NOT PAINTED,NaN,NaN,NaN,9940,96.0,SUPPLIER_2,23047543,NOT RESERVED
96,UNKNOWN,DX51D +AZ150,PAINTED,NaN,NaN,NaN,23884,51.0,SUPPLIER_2,23045292,NOT RESERVED
97,UNKNOWN,S235JR,OILED,NaN,NaN,NaN,5302,12.0,SUPPLIER_2,23047408,VANILLA
98,UNKNOWN,DX51D +Z140,OILED,NaN,NaN,NaN,16927,69.0,SUPPLIER_2,23043348,VANILLA
99,UNKNOWN,HDC,NOT PAINTED,NaN,NaN,NaN,11191,75.0,SUPPLIER_2,23043386,VANILLA

# Export Cleaned Dataset
Save the merged and cleaned inventory dataset to CSV for further analysis or machine learning tasks.

In [37]:
inventory_dataset.to_csv("../resources/export/inventory_dataset.csv", index=False)

In [38]:
pd.read_csv("../resources/export/inventory_dataset.csv")

,quality_choice,grade_material,finish,thickness_mm,width_mm,description,weight_kg,quantity,source,article_id,reserved
0,3RD,C200S,PICKLED & ANNEALED,2.77,1100.0,CRACKS,13983,0.00,SUPPLIER_1,9c137a31-b899-4072-9953-074dea81c821,UNKNOWN
1,3RD,C300S,UNPICKLED,2.65,1075.0,CRACKS,13047,0.00,SUPPLIER_1,bcdba26f-668c-427b-8c54-211ef5b38539,UNKNOWN
2,3RD,C100S,PICKLED & ANNEALED,2.20,1100.0,EDGE CRACKS,14155,10.84,SUPPLIER_1,7fc27848-a97d-4aa0-838b-154400b0f89c,UNKNOWN
3,2ND,C100S,PICKLED,2.86,1100.0,CRACKS,11381,22.87,SUPPLIER_1,6db35a46-78fc-4fe1-b0ae-ce341290e593,UNKNOWN
4,1ST,C300S,UNPICKLED,2.88,1050.0,UNDERWEIGHT,10072,22.87,SUPPLIER_1,35682277-45d9-475a-ad30-45885d6b38c2,UNKNOWN
...,...,...,...,...,...,...,...,...,...,...,...
95,UNKNOWN,DX51D +Z140,NOT PAINTED,NaN,NaN,NaN,9940,96.00,SUPPLIER_2,23047543,NOT RESERVED
96,UNKNOWN,DX51D +AZ150,PAINTED,NaN,NaN,NaN,23884,51.00,SUPPLIER_2,23045292,NOT RESERVED
97,UNKNOWN,S235JR,OILED,NaN,NaN,NaN,5302,12.00,SUPPLIER_2,23047408,VANILLA
98,UNKNOWN,DX51D +Z140,OILED,NaN,NaN,NaN,16927,69.00,SUPPLIER_2,23043348,VANILLA
99,UNKNOWN,HDC,NOT PAINTED,NaN,NaN,NaN,11191,75.00,SUPPLIER_2,23043386,VANILLA